.order--item,
.order--item-custom {
    color: var(--eclipse);
    font-size: 16px;
}

.order--item>p:first-child {
    min-width: 135px;
    font-weight: 600;
}

.order--item-custom>p:first-child {
    min-width: 120px;
    font-weight: 600;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: none;
}