.cart--item .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: var(--red) !important;
}

.cart--item .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):focus-within .ant-select-selector {
    border-color: var(--red) !important;
    box-shadow: none;
}

.cart--item .ant-select,
.cart--item .ant-select-single .ant-select-selector {
    color: var(--grey);
}